@charset "utf-8";
/* base */
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,article, aside, figure, footer, header,hgroup, menu, nav, section, menu,time, mark, audio, video {margin:0;  padding:0;  border:0 none;  outline:0;  font-size:100%;  vertical-align:bottom;  background:transparent;}
table, caption, tbody, tfoot, thead, tr, th, td, select, textarea {margin:0; padding:0; }body {font-size:13px; font-family:gulim,dotum,Helvetica,sans-serif; color:#333;}
form, img {padding:0;margin:0;border:0 none;}
blockquote, q { quotes:none;}
ul,ol{list-style:none;}
/* body {
	background-image: url(../images/bg/Hydrangeas.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
 *//* layout */
/* .bg_depth01 {background:#ededed; } */
#wrap {position:fixed;width:100%;}
#content {position:absolute; width:100%;}

#mainContents {position:absolute;top:0; width:100%;height:100%;opacity: 1.0;z-index:11;}
.main_detail_wrap {position:fixed; width:100%; height:100%; top:0px; bottom:0; background-color: white; opacity: 1.0; z-index:12;}

#wrap .back-image {position: fixed; top: 0px; bottom: 0px; padding-top: 0px; padding-bottom: 0px; background-image: url(../images/bg/Hydrangeas.jpg); background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover; height: 100%; width: 100%; -webkit-filter: blur(30px); -ms-filter: blur(30px); -o-filter: blur(30px); -moz-filter: blur(30px); filter: blur(30px); background-size: 200% 200%;}
.main_wrap {position:absolute; width:100%; height:100%; top:0px; bottom:0; }

#header {height:44px; overflow:hidden; position:absolute; top:0; left:0; width:100%; z-index:0; background-color: black; background-size:auto 44px; opacity: 0.5;}
	#header h1 {height:44px; margin:0; padding:0 30px; font-size:20px; line-height:44px; color:#fff; text-align:center;}
/* 	#header h1 div.logo {background: url(../images/bg/bg_logo.png) no-repeat 50% 50%; background-size: 44px 19px;} */
	#header ul.left_btns {margin: 0; padding: 5px 10px 0 10px; position: absolute; top: 2px; left: 0px; height: 30px;}
	#header ul.left_btns li {float:left;}
	#header ul.right_btns {margin: 0; padding: 5px 10px 0 10px; position:absolute; top:2px; right: 0px; height:30px;}
	#header ul.right_btns li {float:left;display:block;}
	#header ul a.menu {display:block; width:30px; height:30px;text-indent:-3000px; background:url(../images/btn/btn_menu.png) no-repeat 50% 50%; background-size:15px 20px; }
/* 	#header ul a.help {display:block; width:30px; height:30px;text-indent:-3000px; background:url(../images/btn/btn_help.png) no-repeat 50% 50%; background-size:19px 20px;} */
 	#header ul a.login {display:block; width:30px; height:30px;text-indent:-3000px; background:url(../images/btn/btn_login.png) no-repeat 11px 50%; background-size:15px 20px;}
/*  #header ul a.logout {display:block; width:30px; height:30px;text-indent:-3000px; background:url(../images/btn/btn_logout.png) no-repeat 11px 50%; background-size:15px 20px; } */
 	#header ul a.btn_close {display:block; width:30px; height:30px;text-indent:-3000px; background:url(../images/btn/btn_close_pop.png) no-repeat 11px 50%; background-size:15px 20px; }
	
#contents_sub_web {position:fixed;top:80px; bottom:0; width:100%;vertical-align:bottom; z-index:1;overflow-y:auto;}
	
.fixed_top {position:absolute; top:44px; left:0; width:100%; z-index:0; background:#ededed; opacity: 0.5;}
/* nav */
.nav ul {overflow:hidden;  background:#464b4f; height:35px;}
.nav ul li {float:left; width:25%; height:35px;}
.nav ul li:last-child {float:right;}
.nav ul li a {font-size:11px; display:block; height:35px; line-height:35px; text-align:center; color:#fff;letter-spacing:-1px; position:relative;}
.nav ul li:nth-child(4) {width:25%;}
.nav ul li:nth-child(4) a {font-size:11px; }
.nav ul li a.on {font-size:11px; font-weight:bold; background:#34373a;}
.nav ul li:nth-child(4) a.on, .nav ul li:nth-child(4) {font-size:11px; }
.nav ul li a .ico_new2 {position:absolute; top:2px; right:2px;}

#club_idx ul{height:100px;}
#club_idx ul li {display:block;height:100px;} 
#club_idx .img_box{position:relative;height: 70px; width: 70px;display:block; padding-left: 6px;padding-top: 5px; }
#club_idx .img_box img {height: 100%;width:100%; border-radius: 11px;}
#club_idx .title {position:relative; top: -75px;height: 25px; line-height:34px; padding-left: 90px;padding-top: 0px; width:70%; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;} 
#club_idx .memo {position:relative; top: -75px;height: 25px; line-height:30px; padding-left: 90px; width:70%; text-overflow:ellipsis; overflow:hidden; white-space:nowrap;} 
#club_idx .location {position:relative; top: -75px;height: 18px;padding-left: 90px;line-height:30px;} 
#club_idx .day {padding-top: 11px;
  left: 44px;
  top: -156px;
  width: 30px;
  height: 20px;
  position: relative;
  text-align: center;
  font-size: 13px;
  color: red;
  font-weight: bold;
  background-color: rgb(255, 243, 242);
  border-radius: 5px;
  border-top-right-radius: 8px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-width: 21px;
  border: 1px solid rgb(158, 158, 158);
  line-height: 25px;
  opacity: 0.9;
  z-index: 1;} 
#club_idx .month {left: 44px;
  top: -138px;
  width: 16px;
  height: 16px;
  position: relative;
  text-align: center;
  font-size: 11px;
  color: rgb(13, 4, 66);
  font-weight: bold;
  line-height: 17px;
  opacity: 0.7;
  z-index: 2;
  border: 1px solid rgb(158, 158, 158);
  background-color: rgb(231, 163, 39);
  border-bottom-right-radius: 5px;} 
#club_idx .list_box{margin: 10px; line-height:40px; height: 80px; border-radius: 8px; border-color: black; border-width: 2px; background-color: white;opacity: 0.7;} 
